<div>
  <!-- <ShoppingCartProduct v-for="product in cart" :key="product.id" :item="product" /> -->
  <app-shopping-cart-product *ngFor="let item of cartItems | async" [item]="item"></app-shopping-cart-product>

  <div *ngIf="(cartItems | async)?.length==0" class="cart-item">
    <div class="p-2 d-flex justify-content-center align-items-center">
      <div class="d-flex align-items-center">Din kundvagn är tom.</div>
    </div>
    <div class="dropdown-divider"></div>
  </div>

  <div class="ml-1 p-2 d-flex justify-content-between align-items-center">
    <div>
      <div class="total-price">
        Totalt:
        <span class="ml-1">{{totalValue().toLocaleString('en-EN')}} SEK</span>
      </div>
      <small class="text-muted">inkl. moms</small>
    </div>
    <a tag="button" routerLink="/checkout"><button class="btn btn-info closeNav">Gå till
        kassan</button></a>
  </div>
</div>